
<div class="container mt-4">
    <div class="d-flex justify-content-end margin mt-2 mb-2">
        <button class="btn btn-outline-danger" (click)="logout()">Log out</button>
    </div>
    <div class="d-flex align-items-center pb-3">
        <h2 class="p-0 m-0">Food Orders</h2>
        <button class="btn btn-outline-success btn-sm p-2 mx-2" (click)="getLatestOrders()">Get Latest Order</button>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 item-div" *ngFor="let i of items">
            <div class="table-container">
                <div class="row">
                    <h2 class="fw-bold">{{i.itemName}}</h2>

                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-danger text-white">Bill No</th>
                            <th>Item Name + Topping</th>
                            <th>Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let o of orders">
                            <tr class="bill-item" *ngIf="i.itemName == o.itemName">
                                <td>{{o.billNumber}}</td>
                                <td>{{o.itemName}} - {{o.toppingName}}</td>
                                <td>{{o.quantity}}</td>
                                <td>
                                    <div class="actions">
                                        <button (click)="done(o, i)" class="btn btn-outline-secondary m-1">✔</button>
                                        <button (click)="cancel(o, i)" class="btn btn-outline-secondary m-1">✖</button>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>